* {box-sizing: border-box;}
body {margin: 0px;
    background-color: rgb(31, 31, 31);}
main {padding-bottom: 100px;}
header {
        text-align:center;
        height: 550px;
        padding: 100px;
        background-size: cover;
        font-weight: 900; font-size: 550%; color:white;
        
}
section {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
section div {
    width: 600px;
    height: 450px;
}
#main {
    background-image : url("");
    background-size : cover ;
}
.title {
    font-size: xx-large;
}
.sa {
    opacity: 0;
    transition: all .5s ease;
}
.sa-scaleUp {
    transform: scale(.5);
    background-size: cover;
    color:white;
}
.sa-up {
    transform: translate(0, 100px);
    background-size: cover;
    color:white;
}
.sa.show {
    opacity: 1;
    transform: none;
}